In [105]:
import mysql.connector

cnx = mysql.connector.connect(  user='root', 
                                password='Sql@2021',
                                host='127.0.0.1',
                                database='cdac_lab_11')

In [106]:
TABLES = {}
TABLES['CLIENT_MASTER'] = (
    
    '''
        CREATE TABLE CLIENT_MASTER (
            CLIENTNO VARCHAR(6) PRIMARY KEY,
            NAME VARCHAR(20) NOT NULL,
            CITY VARCHAR(15),
            PINCODE INT(8),
            STATE VARCHAR(15),
            BALDUE INT(10)
        )

    '''
)

TABLES['PRODUCT_MASTER'] = (
    
    '''
        CREATE TABLE PRODUCT_MASTER (
            PRODUCTNO VARCHAR(6) PRIMARY KEY CHECK(PRODUCTNO LIKE 'P%'),
            DESCRIPTION VARCHAR(15) NOT NULL,
            PROFITPERCENT DECIMAL(4,2) NOT NULL,
            UNITMEASURE VARCHAR(10) NOT NULL,
            QTYONHAND INT(8) NOT NULL,
            REORDERLVL INT(8) NOT NULL,
            SELLPRICE DECIMAL(8,2) NOT NULL,
            COSTPRICE DECIMAL(8,2) NOT NULL
        )

    '''
)

TABLES['SALESMAN_MASTER'] = (
    
    '''
        CREATE TABLE SALESMAN_MASTER (
            SALESMANNO VARCHAR(6) PRIMARY KEY CHECK(SALESMANNO LIKE 'S%'),
            SALESMANNAME VARCHAR(20) NOT NULL,
            ADDRESS1 VARCHAR(30) NOT NULL,
            ADDRESS2 VARCHAR(30),
            CITY VARCHAR(20),
            PINCODE INT(8),
            STATE VARCHAR(20),
            SALAMT DECIMAL(8,2) NOT NULL,
            TGTTOGET DECIMAL(6,2) NOT NULL,
            YTDSALES DECIMAL(6,2) NOT NULL,
            REMARKS VARCHAR(60)
        )

    '''
)

TABLES['SALES_ORDER'] = (
    
    '''
        CREATE TABLE SALES_ORDER (
            ORDERNO VARCHAR(6) PRIMARY KEY CHECK (ORDERNO LIKE 'O%'),
            CLIENTNO VARCHAR(6),
            FOREIGN KEY (CLIENTNO) REFERENCES CLIENT_MASTER(CLIENTNO),
            ORDERDATE DATE NOT NULL,
            DELYADDR VARCHAR(25),
            SALESMANNO VARCHAR(6),
            FOREIGN KEY (SALESMANNO) REFERENCES SALESMAN_MASTER(SALESMANNO),
            DELYTYPE CHAR(1),
            BILLYN CHAR(1),
            ORDERSTATUS VARCHAR(10)
            
        )

    '''
)

TABLES['SALES_ORDER_DETAILS'] = (
    
    '''
        CREATE TABLE SALES_ORDER_DETAILS (
            ORDERNO VARCHAR(6),
            FOREIGN KEY (ORDERNO) REFERENCES SALES_ORDER(ORDERNO),
            PRODUCTNO VARCHAR(6),
            FOREIGN KEY (PRODUCTNO) REFERENCES PRODUCT_MASTER(PRODUCTNO),
            QTYORDERED INT(8),
            QTYDISP INT(8),
            PRODUCTRATE DECIMAL(10,2)
            
        )

    '''
)

In [107]:
from mysql.connector import errorcode
cursor = cnx.cursor()
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table CLIENT_MASTER: already exists.
Creating table PRODUCT_MASTER: already exists.
Creating table SALESMAN_MASTER: already exists.
Creating table SALES_ORDER: already exists.
Creating table SALES_ORDER_DETAILS: already exists.

In [108]:
# CREATED THE TABLES AND WE NEED TO INSERT DATA INTO MYSQL DB- CDAC_LAB_11

# adding data to the mysql database is like doing a typing work

# have inserted the data into tabe using mysql workbench.ðŸ˜„

In [109]:
# let's create a connection to the database
# let's create a connection to the database

import mysql.connector

cnx = mysql.connector.connect(
    user = 'root',
    password = 'Sql@2021',
    host = 'localhost',
    database = 'cdac_lab_11'
)

if cnx.is_connected:
    print('hi, welcome to the sql cdac database: ðŸ˜„')


# now need to query the cdac database.
# cursor objects interact with mysql server [to execute sql queries]
cursor = cnx.cursor()

print(cursor)


sql_query = '''
    DESC CLIENT_MASTER
''' 
cursor.execute(sql_query)

for cols in cursor:
    print(cols)

hi, welcome to the sql cdac database: ðŸ˜„
CMySQLCursor: (Nothing executed yet)
('CLIENTNO', b'varchar(6)', 'NO', 'PRI', None, '')
('NAME', b'varchar(20)', 'NO', '', None, '')
('CITY', b'varchar(15)', 'YES', '', None, '')
('PINCODE', b'int', 'YES', '', None, '')
('STATE', b'varchar(15)', 'YES', '', None, '')
('BALDUE', b'int', 'YES', '', None, '')

In [110]:
sql_query = '''
    SELECT *
    FROM CLIENT_MASTER
    
''' 
cursor.execute(sql_query)

for cols in cursor:
    print(cols)

('C00001', 'Ivan Bayross', 'Mumbai', 400054, 'Maharastra', 15000)
('C00003', 'Chhaya Bankar', 'Mumbai', 400057, 'Maharastra', 5000)
('C00004', 'Ashwini Joshi', 'Banglore', 560001, 'karnataka', 0)
('C00005', 'hansel Colaco', 'Mumbai', 400060, 'Maharastra', 2000)
('C00006', 'Deepak Sharma', 'Mangalore', 560050, 'Karnataka', 0)

In [111]:
# a. List the names of all clients having â€˜aâ€™ as the second letter in their names.

sql_query = ''' 
            SELECT NAME
            FROM CLIENT_MASTER
            WHERE NAME LIKE '_a%'
'''
cursor.execute(sql_query)

for record in cursor:
    print(record)

('hansel Colaco',)

In [112]:
# b. List the clients who stay in a city whose first letter is â€˜Mâ€™.

sql_query = ''' 
            SELECT NAME
            FROM CLIENT_MASTER
            WHERE CITY LIKE 'M%'
'''
# the class query_exec is a helper class to excute and show the query.
class query_exec:
    def query(self,sql_query):
        self.sql_query = sql_query
        cursor.execute(sql_query)

        print(cursor.column_names)
        for record in cursor:
            print(record) 

q = query_exec() # object of query_exec class

q.query(sql_query)

('NAME',)
('Ivan Bayross',)
('Chhaya Bankar',)
('hansel Colaco',)
('Deepak Sharma',)

In [113]:
# c. List all clients who stay in â€˜Bangaloreâ€™ or â€˜Mangaloreâ€™.

sql_query = ''' 
            SELECT CLIENTNO, NAME
            FROM CLIENT_MASTER
            WHERE CITY = 'Banglore' OR CITY = 'Mangalore'

'''

q.query(sql_query)

('CLIENTNO', 'NAME')
('C00004', 'Ashwini Joshi')
('C00006', 'Deepak Sharma')

In [114]:
# d. List all clients whose BalDue is greater than value 10000.

sql_query = ''' 
            SELECT CLIENTNO, NAME
            FROM CLIENT_MASTER
            WHERE BALDUE > 10000

'''

q.query(sql_query)

('CLIENTNO', 'NAME')
('C00001', 'Ivan Bayross')

In [115]:
# e. List all information from the Sales_order table for order placed in the month of 
#    June.

sql_query = ''' 
            SELECT *
            FROM SALES_ORDER
        

'''
q.query(sql_query)

('ORDERNO', 'CLIENTNO', 'ORDERDATE', 'DELYADDR', 'SALESMANNO', 'DELYTYPE', 'BILLYN', 'DELYDATE', 'ORDERSTATUS')
('O19001', 'C00001', datetime.date(2002, 6, 12), 'Delhi', 'S00001', 'F', 'N', datetime.date(2002, 7, 20), 'In Process')
('O19003', 'C00001', datetime.date(2002, 2, 4), 'Delhi', 'S00002', 'F', 'Y', datetime.date(2002, 4, 7), 'Fulfilled')
('O19008', 'C00005', datetime.date(2002, 5, 24), 'Delhi', 'S00004', 'F', 'N', datetime.date(1996, 6, 26), 'In Process')
('O46866', 'C00004', datetime.date(2002, 5, 20), 'Delhi', 'S00001', 'P', 'N', datetime.date(2002, 5, 22), 'In Process')

In [116]:
# looking at the table i know that i need datetime from python to set a timeline
from datetime import datetime as dt
query_month_start = dt(2002,6,1)
query_month_end = dt(2002,6,30)
sql_query = ''' 
            SELECT *
            FROM SALES_ORDER
            WHERE ORDERDATE BETWEEN %s AND %s
        

'''
cursor.execute(sql_query, (query_month_start, query_month_end))

print(cursor.column_names)

for record in cursor:
    print(record)

('ORDERNO', 'CLIENTNO', 'ORDERDATE', 'DELYADDR', 'SALESMANNO', 'DELYTYPE', 'BILLYN', 'DELYDATE', 'ORDERSTATUS')
('O19001', 'C00001', datetime.date(2002, 6, 12), 'Delhi', 'S00001', 'F', 'N', datetime.date(2002, 7, 20), 'In Process')

In [125]:
# f. List the Order No & day on which clients placed their order.


sql_query = ''' 
            SELECT ORDERNO,ORDERDATE
            FROM SALES_ORDER
            
'''

cursor.execute(sql_query)

records = cursor.fetchall() # lists out the data
print(records)

row = [item[1] for item in records] #list comprehension
print(row)

for i in range(len(row)):
    print(records[i][0],row[i].strftime('%a'))

[('O19001', datetime.date(2002, 6, 12)), ('O19003', datetime.date(2002, 2, 4)), ('O19008', datetime.date(2002, 5, 24)), ('O46866', datetime.date(2002, 5, 20))]
[datetime.date(2002, 6, 12), datetime.date(2002, 2, 4), datetime.date(2002, 5, 24), datetime.date(2002, 5, 20)]
O19001 Wed
O19003 Mon
O19008 Fri
O46866 Mon

In [127]:
# g. List the names, city and state of clients who are not in the state of â€˜Maharashtraâ€™.

sql_query = '''
            SELECT *
            FROM CLIENT_MASTER
            WHERE STATE != 'Maharastra'

'''
q.query(sql_query)

('CLIENTNO', 'NAME', 'CITY', 'PINCODE', 'STATE', 'BALDUE')
('C00004', 'Ashwini Joshi', 'Banglore', 560001, 'karnataka', 0)
('C00006', 'Deepak Sharma', 'Mangalore', 560050, 'Karnataka', 0)

In [140]:
# a. Printing the description and total quantity sold for each product.
sql_query = '''
            
            SELECT PRODUCT_MASTER.PRODUCTNO,PRODUCT_MASTER.DESCRIPTION, SALES_ORDER_DETAILS.QTYORDERED
            FROM PRODUCT_MASTER
            INNER JOIN SALES_ORDER_DETAILS ON PRODUCT_MASTER.PRODUCTNO = SALES_ORDER_DETAILS.PRODUCTNO

            

'''
cursor.execute(sql_query)

records = cursor.fetchall()
for i in records:
    print(i)

('P00001', 'T-Shirts', 4)
('P07965', 'Denim Shirts', 2)
('P07885', 'Pull Overs', 2)
('P03453', 'Shirts', 2)
('P06734', 'Cotton Jeans', 1)
('P07965', 'Denim Shirts', 1)
('P07965', 'Denim Shirts', 1)
('P07975', 'Lycra Tops', 1)
('P00001', 'T-Shirts', 10)
('P07975', 'Lycra Tops', 5)

In [166]:
product_no = [item[0] for item in records ]
desc = [item[0] for item in records ]
qty = [item[2] for item in records]

pdt_map_qty = {}

for i in range(len(records)):
    if records[i][0] not in pdt_map_qty.keys():
        pdt_map_qty[records[i][0]] = records[i][2]
    else:
        pdt_map_qty[records[i][0]] += records[i][2]

print(pdt_map_qty)

pdt_map_desc ={}
for i in range(len(records)):
    if (records[i][0] not in pdt_map_desc.keys() ):
        pdt_map_desc[records[i][0] ] = records[i][1]

print(pdt_map_desc)

for k,v in pdt_map_qty.items():
    if k in pdt_map_desc.keys():
        print(k,pdt_map_desc[k],v)

{'P00001': 14, 'P07965': 4, 'P07885': 2, 'P03453': 2, 'P06734': 1, 'P07975': 6}
{'P00001': 'T-Shirts', 'P07965': 'Denim Shirts', 'P07885': 'Pull Overs', 'P03453': 'Shirts', 'P06734': 'Cotton Jeans', 'P07975': 'Lycra Tops'}
P00001 T-Shirts 14
P07965 Denim Shirts 4
P07885 Pull Overs 2
P03453 Shirts 2
P06734 Cotton Jeans 1
P07975 Lycra Tops 6

In [168]:
# b. Calculating the average quantity sold for each client that has a maximum order value of 15000.00.

sql_query = ''' 
            SELECT SALES_ORDER.CLIENTNO,SALES_ORDER_DETAILS.QTYORDERED, SALES_ORDER_DETAILS.PRODUCTRATE
            FROM SALES_ORDER
            JOIN SALES_ORDER_DETAILS ON SALES_ORDER.ORDERNO = SALES_ORDER_DETAILS.ORDERNO
'''

q.query(sql_query)

('CLIENTNO', 'QTYORDERED', 'PRODUCTRATE')
('C00001', 4, Decimal('525.00'))
('C00001', 2, Decimal('8400.00'))
('C00001', 2, Decimal('5250.00'))
('C00001', 2, Decimal('1050.00'))
('C00001', 1, Decimal('12000.00'))
('C00004', 1, Decimal('8400.00'))
('C00004', 1, Decimal('8400.00'))
('C00004', 1, Decimal('1050.00'))
('C00005', 10, Decimal('525.00'))
('C00005', 5, Decimal('1050.00'))

In [171]:
sql_query = ''' 
            SELECT SALES_ORDER.CLIENTNO,SALES_ORDER_DETAILS.QTYORDERED, SALES_ORDER_DETAILS.PRODUCTRATE
            FROM SALES_ORDER
            JOIN SALES_ORDER_DETAILS ON SALES_ORDER.ORDERNO = SALES_ORDER_DETAILS.ORDERNO
'''

cursor.execute(sql_query)

records = cursor.fetchall()

print(records)

[('C00001', 4, Decimal('525.00')), ('C00001', 2, Decimal('8400.00')), ('C00001', 2, Decimal('5250.00')), ('C00001', 2, Decimal('1050.00')), ('C00001', 1, Decimal('12000.00')), ('C00004', 1, Decimal('8400.00')), ('C00004', 1, Decimal('8400.00')), ('C00004', 1, Decimal('1050.00')), ('C00005', 10, Decimal('525.00')), ('C00005', 5, Decimal('1050.00'))]

In [184]:
mul1 =[item[1] for item in records ]
mul2 = [item[2] for item in records]

map_ = {} 
for i in range(len(records)):
    if records[i][0] not in map_.keys():
        map_[records[i][0]] = (records[i][1]*records[i][2])/records[i][1]
    else:
        map_[records[i][0]] += (records[i][1]*records[i][2])/records[i][1]

print('CLIENTNO','\t', 'AVG')
for k,v in map_.items():
    if v>15000:
        print(k,'\t\t',v)

CLIENTNO 	 AVG
C00001 		 27225.00
C00004 		 17850.00

In [185]:
cnx.close()

In [187]:
cursor.close()

True